<div mat-dialog-content class="success-card">
    <div class="icon-wrapper">
        <svg class="checkmark" viewBox="0 0 52 52">
            <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
            <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
        </svg>
    </div>

    <h2 class="success-title">
        Patient’s Visit<br />
        Examination Data Saved!
    </h2>

    <div class="id-row">
        <span>Patient ID:</span>
        <span class="patient-id">{{ data }}</span>
    </div>
</div>