<div mat-dialog-content class="warning-card">
    <div class="icon-wrapper warning">
        <svg class="exclamation" viewBox="0 0 52 52">
            <circle class="exclamation__circle" cx="26" cy="26" r="25" fill="none" />
            <path class="exclamation__mark" d="M26,13 L26,30 M26,39 L26,42" fill="none" />
        </svg>
    </div>

    <h2 class="warning-title">
        Patient: <span class="patient-name">'{{ data.name }}' </span> is already in the Checkup Queue
    </h2>

    <div class="id-row">
        <span>Patient ID:</span>
        <span class="patient-id">{{ data._id }}</span>
    </div>
</div>