<section class="example-container mat-elevation-z8">
    <span class="patient-name">{{row.name}}'s' </span>
    <span class="patient-name">- Cumulative Clinic Visit Data</span> <span class="patient-id"><i>{{row._id}}</i></span>
    <mat-progress-bar *ngIf="isgetLoading" mode="indeterminate"></mat-progress-bar>

    <mat-progress-bar *ngIf="isLoadingHis" mode="indeterminate"></mat-progress-bar>

    <div class="table-responsive-wrapper">
        <table mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="updatedAt">
                <th mat-header-cell *matHeaderCellDef>Visited</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.updatedAt | timeAgo }}
                </td>
            </ng-container>

            <ng-container matColumnDef="weight">
                <th mat-header-cell *matHeaderCellDef>weight</th>
                <td mat-cell *matCellDef="let element">{{ element.weight }}</td>
            </ng-container>

            <ng-container matColumnDef="height">
                <th mat-header-cell *matHeaderCellDef>height</th>
                <td mat-cell *matCellDef="let element">{{ element.height }}</td>
            </ng-container>

            <ng-container matColumnDef="bloodSugar">
                <th mat-header-cell *matHeaderCellDef>bloodSugar</th>
                <td mat-cell *matCellDef="let element">{{ element.bloodSugar }}</td>
            </ng-container>

            <ng-container matColumnDef="bloodPressure">
                <th mat-header-cell *matHeaderCellDef>bloodPressure</th>
                <td mat-cell *matCellDef="let element">{{ element.bloodPressure }}</td>
            </ng-container>

            <ng-container matColumnDef="prescription">
                <th mat-header-cell *matHeaderCellDef>prescription</th>
                <td mat-cell *matCellDef="let element">{{ element.prescription }}</td>
            </ng-container>

            <ng-container matColumnDef="note">
                <th mat-header-cell *matHeaderCellDef>Note</th>
                <td mat-cell *matCellDef="let element">{{ element.note }}</td>
            </ng-container>

            <ng-container matColumnDef="examinedby">
                <th mat-header-cell *matHeaderCellDef>Examined By</th>
                <td mat-cell *matCellDef="let element">{{ element.examinedby }}</td>
            </ng-container>

            <ng-container matColumnDef="followUpDate">
                <th mat-header-cell *matHeaderCellDef>Follow Up Date</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.followUpDate | timeAgo }}
                </td>
            </ng-container>

            <ng-container matColumnDef="CC">
                <th mat-header-cell *matHeaderCellDef>CC</th>
                <td mat-cell *matCellDef="let element">{{ element.CC }}</td>
            </ng-container>

            <ng-container matColumnDef="conclusion">
                <th mat-header-cell *matHeaderCellDef>Conclusion</th>
                <td mat-cell *matCellDef="let element">{{ element.conclusion }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index"
                (click)="i !== 0 &&clickedRows(row)" [class.disabled-row]="i === 0" [class.no-click]="i === 0"></tr>
        </table>
    </div>

</section>

<div class="registration-form-container ">

    <form class="registration-form" [formGroup]="myForm" (ngSubmit)="onSubmit()">

        <div class="form-row">
            <mat-form-field appearance="outline">
                <mat-label>Weight</mat-label>
                <input matInput type="number" formControlName="weight">
                <span matSuffix> kg</span>
                <mat-error *ngIf="myForm.get('weight')?.invalid">{{getErrorMessage('weight')}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Height</mat-label>
                <input matInput type="number" formControlName="height">
                <span matSuffix>cm</span>
                <mat-error *ngIf="myForm.get('height')?.invalid">{{getErrorMessage('height')}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Blood Sugar</mat-label>
                <input matInput type="number" formControlName="bloodSugar">
                <span matSuffix>mg/dL</span>
                <mat-error *ngIf="myForm.get('bloodSugar')?.invalid">{{getErrorMessage('bloodSugar')}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Blood Pressure</mat-label>
                <input matInput type="text" formControlName="bloodPressure">
                <span matSuffix>mmHg</span>
            </mat-form-field>
        </div>




        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Past History</mat-label>
            <textarea matInput placeholder="Enter Past History" rows="4" formControlName="pastHistory"></textarea>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Family History</mat-label>
            <textarea matInput placeholder="Enter Family History" rows="4" formControlName="familyHistory"></textarea>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Prescription</mat-label>
            <textarea matInput placeholder="Enter Prescription" rows="4" formControlName="prescription"></textarea>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
            <mat-label>CC</mat-label>
            <textarea matInput placeholder="Enter CC" rows="4" formControlName="CC"></textarea>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Note</mat-label>
            <textarea matInput rows="4" formControlName="note"></textarea>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Conclusion</mat-label>
            <textarea matInput rows="4" formControlName="conclusion"></textarea>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Follow up Date</mat-label>
            <input matInput [matDatepicker]="pickerf" formControlName="followUpDate" [min]="maxDate">
            <mat-datepicker-toggle matSuffix [for]="pickerf"></mat-datepicker-toggle>
            <mat-datepicker #pickerf></mat-datepicker>
            <mat-error *ngIf="myForm.get('followUpDate')?.invalid">{{getErrorMessage('followUpDate')}}</mat-error>
        </mat-form-field>

        <div class="button-submitDiv">
            <button mat-raised-button type="submit" class="button-submit" [disabled]="myForm.invalid">
                <mat-progress-spinner *ngIf="issubmitLoading" diameter="16" mode="indeterminate" color="accent"
                    strokeWidth="10" style="display: inline-block; vertical-align: middle;">
                </mat-progress-spinner>

                Submit</button>

        </div>
    </form>
</div>