<div mat-dialog-content class="error-card">
    <div class="icon-wrapper">
        <svg class="crossmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
            <circle class="crossmark__circle" cx="26" cy="26" r="25" fill="none" />
            <path class="crossmark__check" fill="none" d="M16 16 36 36 M36 16 16 36" />
        </svg>
    </div>

    <h2 class="error-title">Error: Failed to save new checkup record</h2>


    <div class="id-row">
        <span><span>Patient ID:</span> <span class="patient-id">{{ data._id }}</span></span>
    </div>
</div>